body {
    margin: 0;
    min-height: 100vh;

    background-image: url("./images/fondo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6px);
    z-index: -1;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
     background: #ffffff;
    padding: 28px 32px;
    border-radius: 16px;
    width: fit-content;
    box-shadow:0 20px 40px rgba(0, 0, 0, 0.35);
    text-align: center;
}

.header > h1 {
    text-align: center;
    letter-spacing: 0.5rem;
    margin: 0.5rem;
}

.formulario-juego,
.formulario,
.entrada {
    display: flex;
}

.formulario-juego {
    justify-content: space-between;
    margin: 0rem 2rem;
}

.formulario {
    flex-direction: column;
}

.entrada {
    margin-bottom: 0.5rem;
    align-items: center;
}
.entrada > label {
    width: 25rem;
}
.entrada > input {
    width: 5rem;
    height: 2rem;
    text-align: center;
}

.btn-generar {
    margin-left: 2rem;
    padding: 0rem 2rem;
}

.contenedor-juego {
    display: flex;
    flex-direction: column;
    margin: 0rem 2rem;
    align-items: center;
}

.hidden {
    display: none;
}

.contenedor-juego > h2 {
    margin-bottom: 0.5rem;
}
#num-banderas {
    color: blue;
    font-weight: bold;
}

.juego {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    margin-bottom: 0.5rem;
}

.juego div {
    height: 4rem;
    width: 4rem;
    box-sizing: border-box;
    border: 1px solid black;
}

.marcada {
    background-color: lightgray;
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
}

.bandera {
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
}

.back-red {
    background-color: red;
}

.back-green {
    background-color: green;
}

.resultado-juego {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0rem;
}